.team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  &__item {
    background-color: #fff;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__name-box {
    padding: 30px 32px;
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 500;
  }

  &__name,
  &__profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  &__profession {
    color: var(--secondary-color);
    margin-bottom: 16px;
  }
}
